<h1>The Library of Seattle</h1>

<a href="/book/add">Add Book</a><br>
<a href="/book/view-all">View Books</a><br>
<a href="/client/add">Add Client</a><br>
<a href="/client/view-all">View Clients</a><br>
<a href="/borrowed-books/list">View Borrowed Books</a>
